.intro{
    background:black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.intro h1{
    color: white;
    padding-top: 50px;
    
}
.intro img{
    border-radius: 50%;
}

    /* Client form section */
.client-input h1{
    text-align: center;
}
.client-input form{
    padding-left: 20px;
}